<div class="friend">
  <% 
    const re = /(?:\w+\.)+\w+/;
    if(Array.isArray(theme.friends)) {
      for(let friend of theme.friends) { 
  %>
      <div class="friend-card">
        <div class="friend-card-layer">
          <div class="friend-card-meta">
            <p><%= friend.meta %></p>
          </div>
          <img class="friend-card-avatar" src="<%- friend.avatar %>"/>
        </div>
        <div class="friend-card-content">
          <div class="friend-card-content-title"><%= friend.nickname %></div>
          <a href="<%- friend.site %>" target="_blank" class="friend-card-content-site"><%= friend.site.match(re)[0] %></a>
        </div>
      </div>
  <% 
      } 
    } 
  %>
</div>