<div class="home">
  <% for(let psg of page.posts.data){ %>
    <div class="home-article-wrapper clearfix">
      <div class="home-article" data-cover="<%- !!psg.cover %>">
        <div class="home-article-inner" data-cover="<%- !!psg.cover %>">
          <h1 class="home-article-title">
            <%- psg.title %>
          </h1>
          <div class="home-article-content post-article">
            <% if(psg.description && psg.description.length > 0) { %>
              <%- psg.description %>
            <% } else { %>
              <%- psg.excerpt %>
            <% } %>
          </div>
          <a class="home-article-read" href="<%- url_for(psg.path) %>">
            README MORE >>>
          </a>
        </div>
        <% if(psg.cover) { %>
          <div class="home-article-cover">
            <img src="<%- psg.cover %>">
          </div>
        <% } %>
      </div>
    </div>
  <% } %>
</div>