<!DOCTYPE html>
<html>
  <%- partial('partials/head') %>
  <body>
    <%- partial('partials/header') %>
    <%- body %>
    <%- partial('components/bottom-bar') %>
    <%- partial('components/share') %>
  </body>
</html>