<!DOCTYPE html>
<html>
  <%- partial('partials/head') %>
  <body>
    <%- partial('partials/header') %>
    <main>
      <%- body %>
    </main>
    <% if(
      (theme.leancloud.comment || theme.disqus.enable) &&
      (is_post() || page.type === 'about' || page.type === 'friends')
    ){ %>
      <%- partial('components/comment') %>
    <% } %>
    <%- partial('partials/footer') %>
    <%- partial('components/layer') %>
    <%- partial('components/bottom-bar') %>
    <%- partial('components/share') %>
    <%- partial('components/analytics') %>
    <% if (theme.custom_scripts){ %>
      <%- js(theme.custom_scripts) %>
    <% } %>
  </body>
</html>