<%
  let next = {}, prev = {}, catalog, comments;
  if(is_home()) {
    prev.link = url_for(page.prev_link);
    next.link = url_for(page.next_link);
    catalog = false;
    comments = false;
  }
  
  prev.enable = !is_current(prev.link);
  next.enable = !is_current(next.link);

  !prev.enable && (prev.link = 'javascript:void(0);');
  !next.enable && (next.link = 'javascript:void(0);');
%>

<div class="bottom-bar">
  <div class="bottom-bar-left">
    <a href="<%- prev.link %>" data-enable="<%- prev.enable %>">
      <i class="fa fa-arrow-left"></i>
    </a>
    <a href="<%- next.link %>" data-enable="<%- next.enable %>">
      <i class="fa fa-arrow-right"></i>
    </a>
  </div>
  <div class="bottom-bar-right">
    <a href="javascript:void(0);" data-enable="<%- catalog %>">
      <i class="fa fa-bars"></i>
    </a>
    <a href="javascript:void(0);" data-enable="<%- comments %>">
      <i class="fa fa-commenting"></i>
    </a>
    <a href="javascript:void(0);">
      <i class="fa fa-thumbs-up"></i>
    </a>
    <a href="javascript:void(0);" id="back-top-btn">
      <i class="fa fa-chevron-up"></i>
    </a>
  </div>
</div>